---
---

@import "{{ site.theme }}";

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button.active {
    background-color: #ddd;
}

.tab-content {
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.tab-content h2 {
    margin-top: 0;
}